.content_job_page{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.back_job_details{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.btn_back_job{
    color: var(--primary);
    background-color: #eaf9f6;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    z-index: 9999;
}

.btn_back_job:hover{
    color: var(--light);
    background-color: var(--primary);
    cursor:pointer
}

.job_details{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:center
}


.job_details_img{
    width:100px;
    height:100px;

}

.job_details_body_left{
    padding:1rem;
}

.job_details_group_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: .4rem;
}

.job_details_job_company{
    color:var(--primary);
    font-family: 'spartan700';
    font-size: 16px;
    margin-right: 10px;
}


.job_details_job_new{
    background-color: var(--primary);
    color: var(--light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 24px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 10px;
    font-weight: 700;
}

.job_details_job_featured{
    background-color: hsl(176deg 16% 20%);
    color: var(--light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 24px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 10px;
    font-weight: 700;
}

.job_details_job_position{
    font-weight: 700;
    font-size: 26px;
    margin: 0rem 0 .5rem 0;
}

.job_details_job_position_dark{
    color: var(--light)
}

.job_details_job_position_light{
    color: hsl(176deg 16% 20%);
}

.job_details_group_bottom{
    color: gray;
    margin: 0.5rem 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    font-size: 12px;
}

.job_details_strong{
    width: 29px;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    top: -6px;
    align-items: center;
}

.job_details_items_list{
    width: 100%;
    height: max-content;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
.job_details_item{
    color: var(--primary);
    background-color: #eaf9f6;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 5px;
    z-index: 9999;
}

.job_details_item:hover{
    color: var(--light);
    background-color: var(--primary);
    cursor:pointer
}